# Версия проекта
version: "3.8"

services: # Сервисы

  python:
    container_name: python
    image: python:3.6
    volumes:
      - ./:/usr/scr/app
    command: bash -c "
      /usr/local/bin/python -m pip install --upgrade pip
      && cd /usr/scr/app/
      && pip install --no-cache-dir -r ./requirements.txt
      && python ./main.py"

